.eventsPageContainer {
  display: block; 
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-left: 20px;
}

.eventsTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.eventsTable th,
.eventsTable td {
  padding: 12px;
}

.eventsTable thead {
  background-color: #efefef;
}

.eventsTable tbody tr:hover {
  background-color: #919698;
  transition: background-color 0.3s ease;
}

.eventDescription{
    
    font-weight: bold;
    margin: 20px;
}

.descriptionTitle{
  margin-bottom: 3px;
  color: #707e7e;
}

.tabsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px 24px;
  background-color: #efefef;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
