.dashBoardContainer{
    display: block;
    width: 100%;  
}

.smalldashboardInfoCard, .largedashboardInfoCard{
    padding-left: 20px;
}

.smalldashboardInfoCard{
    margin-top: 30px;
    display: flex; 
    gap: 50px;
    
}

.cardImage {
    width: 50px;
    height: 50px;
    background-color: #06ADE4;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;  /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}



  
.amount{
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

.category{
    font-size: 20px;
    color: #5b5858;
    padding-bottom: 10px;
    
}
.smallCard{
    background-color: #ffffff;
    display: flex;
    width: 200px;
    border-radius: 10px;
    align-items: center;
    padding: 10px;

}

.dashboardInformation{
    background-color: #5b678f;
}
