.dashBoardContainer{
    display: block;
    width: 100%;  
}

.smalldashboardInfoCard, .largedashboardInfoCard{
    padding-left: 20px;
}

.smalldashboardInfoCard{
    margin-top: 0px;
    display: flex; 
    justify-content: space-between;
    
}

.cardImage {
    width: 30px;
    height: 30px;
    background-color: #06ADE4;
    padding: 5px;
    border-radius: 50%;
    display: flex;  /* Enables Flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
}



  
.amount{
    font-size: 35px;
    color: #000000;
    font-weight: bold;
    
    
}

.category{
    font-size: 15px;
    color: #5b5858;
    white-space: nowrap;
    
}


    

.smallCard {
    background-color: #ffffff;
    display: flex;
    flex-direction: column; /* stack vertically */
    width: 200px; /* or any size you want */
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    height: fit-content;
    
}

.smallCard:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}



.dashboardInformation{
    background-color: #5b678f;
}

.largedashboardInfoCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.userName{
    padding-left: 20px;

}

.smallCardTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cardImageAndCategory{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bottomCardDescription{
    font-size: 12px;
    color: #5b5858;
    
}

.changeAmountEvent{
    font-size: 15px;
    color: #000000;
    display: flex;
    flex-direction: row;
    align-items: center;
}