.instructorContainer {
  display: block;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.instructorTable {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  color: black;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
}

.instructorTable th,
.instructorTable td {
  padding: 12px;
}

.instructorTable thead {
  background-color: #efefef;
}

.instructorTable tbody tr:hover {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
}

.moreIcon {
  cursor: pointer;
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding: 16px 24px;
  background-color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: -1px;
}
