.graphContainer {
  background-color: white;
  width: 50%;
  margin-top: 20px;
  height: fit-content;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.graphContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.graphContainer > div {
  width: 100% !important;
}

.apexcharts-canvas {
  width: 100% !important;
}
