.horizontalNavContainter{
    display: flex;  /* Enables Flexbox */
    justify-content: flex-end;  /* Pushes content to the right */
    align-items: center; 
}

.iconBorder{
    background-color: white;
    border-radius: 30%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    margin-right: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Default shadow */
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.iconBorder:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
    transform: scale(1.1); /* Slight scale effect */
}

.addNew{
    background-color: #06ADE4;
    color: white;
    padding: 12px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Default shadow */
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.addNew:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3); /* Increased shadow on hover */
    transform: scale(1.05); /* Slight scale effect */
    
}

.searchInput{
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 8px;
    background-color: white;
    width: 250px;
}