.eventFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.eventFormContent{
    background: white;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds elevation effect */
    padding: 20px;
   
}

.closeContainer{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}


.closeContainer img{
    padding:3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds elevation effect */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.dividerDiv{
    margin-top: 10px;
    margin-bottom: 10px;
}

.formTitle input::placeholder {
    color: rgb(0, 0, 0);
    
  }

.formTitle input{
    font-size: medium;
    font-weight: 600;
    color: black;
}

.dateTime{
    justify-content: space-between;
    display: flex;
}

.dateTimeInputs{
    background-color: #f5fafb;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    width: fit-content;

}

.dateTimeImg{
    background-color: #e7eded;
    display: flex;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.dateTimeTitle{
    color: #707e7e;
    font-weight: bold;
}

.arrows{
    display: flex;
    flex-direction: column;
}

.dateTimeDisplay{
    color:#707e7e
}

.hostAndImageInputContainer{
    background-color: #f5fafb;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    
}

.hostAndImageContainer{
    display: flex;
    gap:10px;
}

.numericInputContainer{
    border-radius: 5px;
    padding: 10px;
    background-color: #f5fafb;
    height: 25px;
    
   
}
.seperationContainer{
    width: 100%
}

.host{
    font-weight: 500;
}

#hostAndImageInputContainerDescription {
    background-color: #f5fafb;
    border-radius: 5px;
    padding: 10px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

#hostAndImageInputContainerDescription textarea {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    resize: none;
    font-size: 14px;
    color: black;
    outline: none;
    font-family: inherit;
    text-align: left; /* Align text to the left */
}

#hostAndImageInputContainerDescription textarea::placeholder {
    text-align: left; /* Ensures placeholder is at the top-left */
    color: #707e7e;
    font-weight: 500;
}

.createEventButton{
    background-color:#06ADE4;
    display: flex;
    color: white;
    flex-direction: row;
    font-weight: bolder;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}