.eventFormContainer{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.eventFormContent{
    background: white;
    border-radius: 5px;
   
}

.formTitle{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
    align-items: center;

}

.formTitle img{
    padding:5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adds elevation effect */
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.textInputContainer{
    margin-bottom: 20px;
}
.formInputContent{
    margin: 20px;
}

.inputContainer{
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    width: 500px;
    display: flex;
    align-items: center;
}

.inputContainer input::placeholder { 
    font-size: 17px;
} 

.addMore{
    display: flex;
    white-space: nowrap;
    background-color: white;
    padding: 10px;
    border-radius: 8px; /* Prevents text from wrapping */
}

.overcallNumericalInputContainer {
    display: flex;
    margin-bottom: 20px;
   
    gap: 20px; /* Adds spacing between the two date fields */
    justify-content: space-between; /* Ensures even spacing */
    max-width: 520px;
}

.numericalInputContainer {
    display: flex;
    flex-direction: column; /* Puts label on top and input below */
    width: 45%; /* Ensures two columns take equal width */
}

.numericalInput {
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    display: flex;
}

.numericalInput img {
        
    padding: 5px;
}

.numericalInput input {
    width: 100%; /* Makes the input take full width */
    border: none;
    
    outline: none;
    background: transparent;
}

.uploadImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #005ffe;
    padding: 20px;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    background-color: #ecefff;
    height: 200px;
    border-radius: 5px;
}

.uploadImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.uploadText {
    font-size: 14px;
    margin-top: 5px;
}

.clickToUpload {
    color: #005ffe;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.imagePreview {
    position: relative;
    margin-top: 10px;
}

.imagePreview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}

.cancelButton {
    margin-top: 5px;
    padding: 5px 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

p{
    
    
}

.submitContainer {
    display: flex;  /* Enables Flexbox */
    justify-content: flex-end;  /* Aligns items to the right */
    margin-top: 20px;  /* Adds spacing above */
    padding-right: 20px;  /* Adds right padding to push content away from the edge */
}


.formSubmit {
    color:#005ffe;
    padding-left: 425px;
    margin-right: -55px;
    font-size: 20px;
    margin-top: 10px;
    
}

